body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin-top: 50px; /* Adjust as needed */
}

h1 {
    color: #333;
}

.search-box {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#results {
    text-align: left;
}

.result-item {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.result-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.result-phone {
    color: #666;
}

p {
    color: #999;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 600px) {
    .container {
        width: 90%;
        margin-top: 20px; /* 화면 크기가 작을 때 마진 조정 */
    }

    input[type="text"] {
        width: 100%; /* 화면 크기가 작을 때 입력 필드가 전체 너비를 차지하도록 조정 */
        margin-right: 0;
        margin-bottom: 10px; /* 버튼과의 간격 조정 */
    }

    button {
        width: 100%; /* 화면 크기가 작을 때 버튼이 전체 너비를 차지하도록 조정 */
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 24px; /* 작은 화면에서는 헤더 크기 조정 */
    }

    .result-title {
        font-size: 16px; /* 작은 화면에서는 결과 타이틀 크기 조정 */
    }
}
